body,
html {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
	max-width: 50px;
	border-width: 3px;
	border-color: #FE9B27;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

hr.light {
	border-color: #fff;
}

a {
	color: #FF8800;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

a:hover {
	color: #FF8800;
}

a.external {
	color: rgba(0,0,0,.44);
	text-decoration: none;
}

a.external:hover {
	border-bottom: 1px dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
	background-color: #FF8800 !important;
}

.bg-dark {
	background-color: #212529 !important;
}

.text-faded {
	color: rgba(255, 255, 255, 0.7);
}

section {
	padding: 8rem 0;
}

.section-heading {
	margin-top: 0;
}

::-moz-selection {
	color: #fff;
	background: #212529;
	text-shadow: none;
}

::selection {
	color: #fff;
	background: #212529;
	text-shadow: none;
}

img::selection {
	color: #fff;
	background: transparent;
}

img::-moz-selection {
	color: #fff;
	background: transparent;
}

/**
 * Dark version of Bootstrap's carousel arrows
 */

.carousel-control-next-icon-dark {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;	
	background-image: url("../images/carousel-next-dark.svg") !important;
}

.carousel-control-prev-icon-dark {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;		
  background-image: url("../images/carousel-prev-dark.svg") !important;
}

.carousel-indicators.dark li {
    background-color: rgba(0,0,0,0.1);
}
.carousel-indicators.dark .active {
    background-color: #f80;
}

/**
 *
 */

.underline-anim {
	position:relative;
	padding-bottom:0.1rem;
}

.underline-anim:hover {
	text-decoration: none;
}

.underline-anim:before {
	content:"";
	display:block;
	position:absolute;
	left:0;
	bottom:0;
	height:0.1rem;
	width:0;
	transition:width 0s ease,background-color .5s ease;
}

.underline-anim:after{
	content:"";
	position:absolute;
	right:0;
	bottom:0;
	height:0.1rem;
	width:0;
	background-color:#f80;
	transition:width .3s ease;
}

.underline-anim:hover:before { 
	width: 100%;
	background-color: #f80;
	transition:width .3s ease;
}

.underline-anim:hover:after { 
	width: 100%;
	background: transparent;
	transition: width 0s ease;
}

/**
 * Navbar
 */

#mainNav {
	border-bottom: 1px solid rgba(33, 37, 41, 0.1);
	background-color: #fff;
	font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

#mainNav .navbar-brand {
	font-weight: 700;
	color: #FF8800;
	font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
	color: #FF8800;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
	font-size: .9rem;
	font-weight: 700;
	color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
	color: #FF8800;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
	color: #FF8800 !important;
	background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
	background-color: transparent;
}

@media (min-width: 992px) {
	#mainNav {
		border-color: transparent;
		background-color: transparent;
	}
	#mainNav .navbar-brand {
		color: rgba(255, 255, 255, 0.7);
	}	
	#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
		color: #fff;
	}
	#mainNav .navbar-nav > li.nav-item > a.nav-link {
		padding: 0.5rem 1rem;
	}
	#mainNav .navbar-nav > li.nav-item > a.nav-link,
	#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
		color: rgba(255, 255, 255, 0.7);
	}
	#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
	#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
		color: #fff;
	}
	#mainNav.navbar-shrink {
		border-bottom: 1px solid rgba(33, 37, 41, 0.1);
		background-color: #fff;
	}
	#mainNav.navbar-shrink .navbar-brand {
		color: #FF8800;
	}
	#mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
		color: #FF8800;
	}
	#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
	#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
		color: #212529;
	}
	#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
	#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
		color: #FF8800;
	}

	/**
	 * Dark Nav
	 */
	#mainNav .dark {
		color: rgba(0, 0, 0, 0.7);
	}
	#mainNav .dark:focus, #mainNav .dark:hover {
		color: rgba(255, 136, 0, 0.7);
	}	
	#mainNav .navbar-nav > li.nav-item > a.dark,
	#mainNav .navbar-nav > li.nav-item > a.dark:focus {
		color: rgba(0, 0, 0, 0.7);
	}
	#mainNav .navbar-nav > li.nav-item > a.dark:hover,
	#mainNav .navbar-nav > li.nav-item > a.dark:focus:hover {
		color: rgba(255, 136, 0, 0.7);
	}	
}

.navbar-toggler {
	border: none;
	padding: .25rem .25rem;
}

/**
 * Menu > Full-Screen
 */

.menu-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.menu-nav li {
  margin: 0 0 30px 0;
}
.menu-nav li a {
  text-decoration: none;    
  font-size: 4rem;
  color: #000;
  font-weight: bold;
  line-height: 4rem;
  letter-spacing: 0.1rem;  
  padding-bottom: 1rem;
}
.menu-nav li a:before, .menu-nav li a:after {
	height: 0.4rem;
}
.menu-nav li a.active {
	color: #F80;
}

.menu-full {
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.92);
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.menu-full--open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.menu-full--transition {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.menu-full--middle {
  display: table-cell;
  vertical-align: middle;
}

.menu-toggle {
  border: 0;
  background-color: transparent;
}
.menu-toggle:before {
  content: '\f0c9';
  font-family: 'FontAwesome';
  margin: 0 20px 0 0;
}
.menu-toggle--close {
  position: absolute;
  top: 30px;
  right: 30px;
}
.menu-toggle--close:before {
  content: '\f00d';
  color: #000;
  font-size: 40px;
  margin: 0;
}

/**
 * Header
 */

header p {
	font-weight: 300;
	font-size: 1.1rem;
}

@media (min-width: 1441px) {
	header p {
		font-size: 1.5rem;		
	}
}

header.about {
	padding-bottom: calc(8rem - 56px);
	background-image: url("../images/about/header.jpg");
	background-position: left top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header.about h1 {
	font-size: 4rem;
	line-height: 4rem;
	padding-bottom: 1rem;
	color: #F80;
}

header.about p > strong {
	font-weight: 600;
}

@media (min-width: 992px) {
	header.about {
		background-attachment: fixed;
		background-position: 0rem 4rem;
		background-repeat: no-repeat;
		height: 100vh;
		min-height: 650px;
		padding-bottom: 0;
		padding-top: 8rem;
	}
}

@media (max-width: 992px) {
	header.about h1 {
		font-size: 3rem;
		line-height: 3rem;		
	}	
}
@media (max-width: 768px) {
	header.about {
		background-image: url("../images/about/header-mobile.jpg");
		background-position: center top;		
		margin-top: 6rem;
		padding-bottom: 0px;
	}	
	header.about div.container {
		background-color: rgba(0, 0, 0, 0.7);
		color: #FFF;
		max-width: 100%;
		margin-top: 16rem;
	}
}

header.portfolio {
	padding-top: 8rem;
	padding-bottom: calc(8rem - 56px);
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@media (min-width: 992px) {
	header.portfolio {
		background-attachment: fixed;
		padding-top: 0rem;	
		height: 100vh;
		min-height: 650px;
		padding-bottom: 0;
	}
}

header.masthead {
	padding-top: 10rem;
	padding-bottom: calc(10rem - 56px);
	background-image: url("../images/portfolio-fuzzies/header.jpg");
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header.masthead h1 {
	font-size: 2rem;
}

@media (min-width: 992px) {
	header.masthead {
		background-attachment: fixed;		
		height: 100vh;
		min-height: 650px;
		padding-top: 0;
		padding-bottom: 0;
	}
	header.masthead h1 {
		font-size: 3rem;
	}
}

@media (min-width: 1200px) {
	header.masthead h1 {
		font-size: 4rem;
	}
}

header p.category {
	font-family: 'Montserrat','Helvetica Neue',Arial,sans-serif;
	color: rgba(255,255,255,0.9);
	text-transform: uppercase;
	font-size: 0.9rem;
	letter-spacing: 0.2rem;
}

/**
 * Neighbor-specific styles
 */

header.neighbor {
	background-image: linear-gradient(135deg, 
			rgba(255, 133, 82, 0.7),
			rgba(23, 163, 152, 0.7)
		), url("../images/portfolio-neighbor/header.jpg");
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}

section.neighbor-footer {
	background-image: 
		url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.05' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E"),
		linear-gradient(0deg,
			rgba(255, 133, 82, 1),
			rgba(18, 128, 119, 0.7));
	padding: 0;
}

/**
 * Header > Show More Chevron
 */

.show-more {
  cursor: pointer;
  position: absolute;
  bottom: 2px;
  width: 100%;
  z-index: 105;
  display: flex;
  justify-content: center;
  padding: 30px;
}

@media (max-width: 992px) {
	.show-more {
		display: none;
	}
}




/**
 * Divider
 */

img.banner-divider-bottom {
	border: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 0 auto;  
  width: 100%;
  z-index: 105;
  display: flex;
  justify-content: center;
  padding: 0px;
}

img.banner-divider-top {
	border: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0 auto;  
  width: 100%;
  z-index: 105;
  display: flex;
  justify-content: center;
  padding: 0px;
}

div.banner-image {
	position: relative;
	min-height: 60vw;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	line-height: 0;
}

@media (min-width: 992px) {
	div.banner-image {
		padding-top: 0rem;	
		padding-bottom: 0;
	}

	div.banner-fixed {
		background-attachment: fixed;
	}
}

/**
 * About
 */

.about-component {
	background-image: linear-gradient(
			rgba(254, 155, 39, 0.9),
			rgba(237, 99, 0, 0.9)
		), url("../images/about.jpg");
	background-position: left center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;  
}

.about-box h1 {
	font-size: 2rem;
	color: #F80;
}

.about-box p {
	font-size: 1.1rem;
}

.about-box .about-content {
	padding: 0 2rem;
}

.about-box .about-developer {
	max-width: 52%;
	margin: 0 auto;
}

@media (max-width: 992px) {
	.about-box .about-developer {
		max-width: 100%;
		margin: 0;
	}
}

.about-box .carousel-item img {
	max-width: 40%;
}

@media (max-width: 576px) {
	.about-box .carousel-item img {
		max-width: 100%;		
	}
}

/**
 * About > Logos
 */

.logos-component {
	background-color: #000;
	background-image: url("../images/logos-overlay.svg");
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;  
}

@media (min-width: 768px) {
	.logos-component .container {
		max-width: 600px;
	}
}

@media (min-width: 992px) {
	.logos-component .container {
		max-width: 800px;
	}
}

.logo-box {
	position: relative;
	display: block;
	margin: 0 auto;
}

.logo-box .roles {
	font-family: 'Montserrat','Helvetica Neue',Arial,sans-serif;
	font-size: 0.7rem;
	color: #CCCCCC;
}

.service-box {
	max-width: 400px;
}

/**
 * Portfolio
 */

.portfolio-box {
	position: relative;
	display: block;
	max-width: 650px;
	margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
	color: #fff;
	background: linear-gradient(
			rgba(254, 155, 39, 0.95),
			rgba(237, 99, 0, 0.95));
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
	padding: 0 15px;
	font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
	font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
	opacity: 1;
}

.portfolio-box:focus {
	outline: none;
}

.portfolio-box:hover img.img-fluid {
	/*transform: scale(1.1);
	transition: transform .2s;*/	
}

@media (min-width: 768px) {
	.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
		font-size: 16px;
	}
	.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
		font-size: 22px;
	}
}

/**
 *
 */

.btn {
	font-weight: 600;
	text-transform: uppercase;
	border: none;
	border-radius: 300px;
	font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}

.article-post a.btn {
	border-bottom: none;
}

.btn-xl {
	padding: 1rem 2rem;
}

.btn-primary {
	background-color: #FF8800;
	border-color: #FF8800;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	color: #fff;
	background-color: #FE9B27 !important;
	box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;	
}

.btn-light:hover, .btn-light:focus, .btn-light:active {
	color: #F80;
	background-color: #FAFAFA !important;
	box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5) !important;	
}

.icon-anim:hover, .icon-anim:focus, .icon-anim:active {
	color: #FE9B27;
	transition: transform .2s;
}

/**
 * Article
 */

header.article {
	padding-top: 12rem;
	padding-bottom: calc(8rem - 56px);
	background-image: linear-gradient(
		rgba(255, 255, 255, 1) 4rem,
		rgba(254, 155, 39, 0.9) 4rem,
		rgba(237, 99, 0, 0.9)
	);
}

.text-primary {
	color: #FF8800 !important;
}

.article-post {
	font-size:1.2rem;
	line-height:1.8;
	color:rgba(0,0,0,.8);
}

blockquote {
	border-left:4px solid #ABD426;
	padding:0 20px;
	font-style:italic;
	color:rgba(0,0,0,.5);
}

.article-post a {
	color:rgba(0,0,0,.8);
	border-bottom: 2px solid #FE9B27;
}

.article-post a.external {
	color:rgba(0,0,0,.8);
	border-bottom: 2px solid #DDDDDD;
}

.article-post a:hover {
	text-decoration: none;
}

.article-post .collapse-link:hover {
	color: #F80;
}

.article-post p,.article-post blockquote {
	margin:0 0 1.5rem 0;
}

.article-post h1 {
	font-weight:500;
	margin-bottom:1rem;
	margin-top:2rem;
	color: #FE9B27;   
}

.article-post h2 {
	font-weight:500;
	color: #FE9B27;
	margin-bottom:1rem;
	margin-top:2rem;
	line-height: 2.8rem;
	font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;    
}

.article-post h3 {
	font-weight:200;
	margin-bottom:1rem; 
}

.article-post h6 {
	font-weight:600;
	font-size: 0.9rem;
	margin-top:6rem;  
	margin-bottom:2rem;
	text-transform: uppercase; 
	color: #FE9B27; 
	letter-spacing: 0.1rem;  
}

.article-post p.popup-gallery.thumbs {
	display: table;
	border-spacing: 0.5em;	
}

.article-post .popup-gallery.thumbs a {
	border-bottom: none;
	display: table-cell;
	border-radius: 10px;	
}

.article-post .popup-gallery.thumbs a:hover {
	color: #fff;
	box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
	border-radius: 11px;
}

.article-post .popup-gallery.thumbs img {
	border: solid 2px #FF8800;
	border-radius: 11px;
	padding: 0em;
	float: none;
	margin: 0;
	max-width: 100%;
	max-height: 100%;
}

.figure-caption {
	padding-top: 0.5rem;
	font-family: Montserrat,'Helvetica Neue',Arial,sans-serif;
	font-size: 0.9rem;
	color: #6c757d;
}

.figure-caption-light {
	padding-top: 0.5rem;
	font-family: Montserrat,'Helvetica Neue',Arial,sans-serif;
	font-size: 0.9rem;
	color: #eeeeee;
}

.figure-caption a {
	font-family: Montserrat,'Helvetica Neue',Arial,sans-serif;
	font-size: 0.9rem;
	color: #6c757d;
	border-bottom: 1px solid #6c757d;
}

@media (max-width: 992px) {
	.callout {
		padding: 2rem;
	}
}

.callout ol {
	font-size: 0.9rem; 
	padding: 0; 
	margin: 0;
}

.callout ol > li {
	padding-bottom: 0.5rem;
}

/**
 * Portfolio Index
 */

.h1-xl {
	display: block;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;	
	font-weight: bold;
	line-height: 1.2em;	
}

@media (max-width: 768px) {
	.h1-xl {
		font-size: 2.5em;
	
	}
}

@media (min-width: 768px) {
	.h1-xl {
		font-size: 3em;
	}
}

@media (min-width: 1024px) {
	.h1-xl {
		font-size: 5em;
	}
}

.text-gradient {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FF8800), color-stop(1, #e05d00));
  background-image: gradient(linear, left top, right top, color-stop(0, #FF8800), color-stop(1, #e05d00));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.index blockquote > ul {
	margin: 0em 0.8em 0.5em 0em;
	padding: 0.5em 1em 0.5em 0em;
	list-style: none;
}

.index h1 { 
	clear: both;
	padding-top: 3em;
}

@media (max-width: 768px) {
	.index h1 {
		padding-top: 1em;
	}
}

.index hr { 
	clear: both;
}

.index img {
	float: right;
	max-width: 50%;
	margin: 0.3em 0em 2em 2em;
	padding: 1em;	
	border: solid 4px #ddd;
}

.index .btn a {
	color: #FFF;
}

.index .tags {
	padding-left: 0px;
}

.index .tags li {
	background: #ddd;
	display: inline-block;
	font-family: Montserrat,'Helvetica Neue',Arial,sans-serif;
	font-size: 0.7em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin: 0em 0.8em 0.5em 0em;
	padding: 0.5em 1em 0.5em 1em;
}

@media (max-width: 992px) {
	.index img {
		display: block;
		max-width: 100%;
		margin-bottom: 1em;
	}
}

/**
 * Cards
 */

.card {
	/*margin-bottom: 2rem;*/
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
	border: 0;
	font-size: 0.9rem; 	
}

.card h6 {
	margin-top: 1rem;
	margin-bottom: 1rem;	
}

.card-body p, .card-body a {
	font-size: 0.9rem;
	line-height: 1.8;
}

.card-img-bottom {
	box-shadow: 0 -4px 24px 0 rgba(0, 0, 0, 0.1);	
}

.card .text-muted {
	font-family: Montserrat,'Helvetica Neue',Arial,sans-serif;
}

.card .card-footer {
	background: none;
	border-top: none;
}

/**
 * Page Footer
 */

.footer {
	border-top:1px solid rgba(0,0,0,.05)!important;
	padding-top:15px;
	padding-bottom:12px;
	font-size:0.8rem;
	color:rgba(0,0,0,.44);
	margin-top:50px;
}

/**
 * Share Options
 */

.share {
	font-family: Avenir;
	text-align:center;
	margin-top:20px;  
}
.share p {
	margin-bottom:10px;
	font-size:0.95rem;
}
.share {
	display:none;
}
.share ul li {
	display:inline-block;
	margin-bottom:5px;
}
.share ul {
	padding-left:0;
	margin-left:0;
}
.svgIcon {
	vertical-align:middle;
}
@media (min-width:1024px) {
	.share {
		position:fixed;
		display:block;
	}
	.share ul li {
		display:block;
	}
}
.share,.share a {
	color:rgba(0,0,0,.44);
	fill:rgba(0,0,0,.44);
}

/**
 * Video Player
 */

video {
	display: block;
	vertical-align: middle; 
	border-radius: 0.625rem; 
}

.video-wrapper {
	position: relative;
	width: 100%;
}

.playpause {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 10px calc(50% - 50px);
	position: absolute;    
	top: 0;
	left: 0;
	display: block;
	opacity: 0.95;
	cursor: pointer;
	background-image: linear-gradient(transparent, #CCC);
	transition: opacity 150ms;
}

.playpause.dark {
	background-image: linear-gradient(transparent, #333);
}

.playpause:hover {
		opacity: 1;
}

.playpause.dark:hover {
		opacity: 0.6;
}

/**
 * Magnific Popup Fade Transition
 */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}